body {
    font-family:Arial, Verdana;
    font-size:14px;
}
table td {
    border:1px dotted #AF9EF4;
    font-size:16px;
}
input {
    font-size:14px;
    font-weight:bold;
}
select {
    font-size:14px;
}